// Place all the styles related to the tweet controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// インデックスのトップ
.top-page{
 width:80%;
 margin:0 auto;
 display:flex;
}
.jumbotron{
 opacity: 0.6;
 width:50%;
 height: 100%;
}
#carouselExampleControls{
  max-width:50%;
  max-height: 50%;
  
}
.main{
  display: flex;
}
.main-left{
 width:10%;
 background-color:gray;
 opacity: 0.1;
}
.main-center{
  width:80%;
  
}
.d-block{
  width:100px;
  height:300px;
  
}
.carousel-item{
 height: 100%;
 width:100%;
 background-color: yellow;
}
.main-right{
  width:10%;
 background-color:gray;
 opacity: 0.1;
}
.info{
  padding-top: 20px;
  margin:0 auto;
  width:70%;
}
.info-from{
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.info-from:hover{
  border-color: blue;
  border-radius: 15px;

}
// インデックスの投稿
.tweets-container{
  width:80%;
  margin:0 auto;
}

.new-fielid{
  width:80%;
  margin:0 auto;
}
.show{
 width:80%;
 margin:0 auto;
}

.tweets-container{
  display: flex;
  flex-wrap: wrap;
}

.tweets-container-fraem{
  width:50%;
  border: solid black;
  display: flex;
}
.tweets-container-image{
  width:40%;
  padding-top: 5%;
  height: 85%;
  padding-left: 5%;
}
.tweets-container-content{
  padding-top: 5%;
  padding-left: 5%;
}
// ここからshowページ
.show-fielid{
  display: flex;
  padding-left: 10%;
  padding-right:10%;
  margin:0 auto;
  padding-bottom: 10px;
}

 
 .show-contents{
   background-color:white;
   opacity:0.7 ;
   width:60%;
 }
 .show-content-fraem{
   padding-left: 15%;
   padding-top:15%;
 }
 .show-content-fraem h1{
   font-weight: bold;
 }
 .show-content-fraem p{
  font-family: 'Noto Sans JP', sans-serif;
  padding-top:10px;
  padding-left:60px;
  font-size: 35px;
 }
 .show-content{
   padding-top:15px;
 }
 .show-comment-field{
   background-color:whitesmoke;
   
 }
.show-comment{
  margin: 0 auto;
  padding-left: 10%;
  padding-right:10%;
}
.comment-image{
  border-radius: 100%;
  border: 1px solid black;
}
.comment-user-prof{
  display: flex;
  align-items: center;
}
.comment-user-prof2{
 padding-right: 5%;
 padding-top: 10px;
}
// .comment-user-content{
 
//   border: 1px solid black;
//   padding:8px;
//   background-color: white;

  
// }
.comment-user-content2{
  border: 1px solid black;
  padding:8px;
  background-color: white;
}
.comment-your-field{
  padding-left: 10%;
}
.text-from{
  padding-top: 10px;
}
//  ここからログインページ
.user-field{
  padding-left: 10%;
  padding-right:10%;
  margin:0 auto;
  display:flex;
}
.users-contents{
  padding-left:27%;
  padding-right:10%;
  margin:0 auto;
}
.users-content{
  padding-top: 15px;
}
// ここからユーザーフォーム編集
.user-from-edit{
  padding-top: 10px;
  padding-left: 10%;
  margin:0 auto;

}